<div class="navbar">
    <div class="left">
      <a routerLink="/"><img class = "logo" src="assets/icons/home.png" alt="Home Logo"></a>
    </div>
    <div class="right">
      <div class="right">
        <a routerLink="/login">Login</a>
      </div>
      <div class="right">
        <a routerLink="/stock">Stock</a>
      </div>
      <div class="right">
        <a routerLink="/orders">Orders</a>
      </div>
      <div class="dropdown">
        <select class="text" (click)="navigateToPage($event)"
          (change)="navigateToPage($event)">
          <option value="addProduct">Add Product</option>
          <option value="updateProduct">Update Product</option>
        </select>
      </div>
    </div>
  </div>
<div class="banner">
    Cloud E-Commerce
</div>
  
  